{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
<link href="{% static 'styles/chat.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="container-fluid p-0">

        <!-- NavBar Section -->
        <nav class="navbar navbar-light bg-light shadow">
            <div class="container-fluid">
              <a class="navbar-brand py-2" href="#">
                <img src="{% static 'images/logo.png' %}" alt="" width="200" height="50" class="d-inline-block align-text-top">
              </a>
              <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item pe-3">
                        <a class="nav-link logouttext" href="{% url 'ChatExplorerApp:userlogout' %}"">Logout</a>
                    </li>
                {% endif %}
            </ul>
            </div>
        </nav>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-9">
                    <div class="card-body select-user-card mt-3">
                        <div class="row">
                            <div class="col-md-4">
                                <div>
                                    <h5>
                                        Choose a user to see sessions
                                    </h5>
                                </div>
                                
                                <div>
                                    <select class="form-select" id="userSelect" aria-label="Default select example">
                                        {% for user in user_list %}
                                            <option value="{{ user.userId }}">{{ user.firstName }} {{user.lastName}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                

                                <div class="mt-3">
                                    <button class="btn btn-primary w-100" id="choose-btn">Choose</button>

                                </div>
                            </div>
                            <div class="col-md-3"></div>
                            <div class="col-md-5">
                                <div class="card-body bg-light session-item-card mt-lg-0 mt-3">

                                    <!-- Alert Message Text -->
                                    <div>
                                        <h6 class="d-inline py-1 px-2 alert-msg" id="session-alert">No Sessions Found</h6>
                                    </div>


                                    <div id="session-container"></div>

                                    <!-- Loader -->
                                    <div class="loader m-auto d-none"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body position-relative chat-card mt-5">
                        <!-- Message alert text -->
                        <div class="msg-alert-section"  id="message-alert">
                            <h6 class="d-inline py-1 px-2 alert-msg">No Messages Found</h6>
                        </div>

                        <!-- Loader -->
                        <div class="msg-alert-section chat-alert-overlay d-none">
                            <div class="chat-loader m-auto"></div>
                        </div>
                        

                        <!-- Chat Message Injecting Container -->
                        <div id="chat-container"></div>
                    </div>

                    <div class="comment-section d-none">
                        <div class="row">
                            <div class="my-3">
                                <textarea class="form-control" placeholder="Enter your Comments" rows="3" id="comment-area"></textarea>
                            </div>                            
                        </div>
    
                        <div class="row">
                            <div class="mb-3 text-end">
                                <button class="btn btn-primary" disabled id="comment-btn">
                                    <span class="spinner-border spinner-border-sm d-none spinner-comment-btn" role="status" aria-hidden="true"></span>
                                    Comment
                                </button>
                            </div>
                        </div>
                                            <!-- comments displayed here -->
                    <div class="card-body chat-card mt-3 p-2" id="comment-container">
                        
                    </div>

                    </div>
                    
                    <!-- <div class="card-body chat-card mt-3">
                        <div class="card-body comment-card py-1">
                            <div id="comment-container"></div>
                            <div class="comment-by-row">
                                <span class="cbytext">Commented by </span>
                                <strong class="commentby">Basil</strong>
                            </div>
                            <div class="comment-box pt-1 ps-3">
                                    <p class="commenttext">Great Work.. Keep it going..</p>
                            </div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="textareabox d-none replaysection">
                                        <textarea class="textareainput w-100" style=""></textarea>
                                    </div>
                                </div>
                                <div class="col-md-1 mt-auto">
                                    <div class="replaydiv text-end replayactive">
                                        <button class="replaytext px-1">
                                            <i class="fa-solid fa-reply pe-1 fa-sm"></i>
                                            Replay
                                        </button>
                                    </div>
                                    <div class="d-none replaysection">
                                        <div class="replaydiv text-center mb-1">
                                            <button class="replaytext px-1">
                                                Cancel
                                            </button>
                                        </div>
                                        <div class="replaydiv text-center">
                                            <button class="replaytext px-1">
                                                Comment
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="ms-5">
                        <div class="card-body comment-card px-3 py-1 mb-3">
                            <div id="comment-container"></div>
                            <div class="comment-by-row">
                                <span class="cbytext">Responsed by </span>
                                <strong class="commentby">Basil</strong>
                            </div>
                            <div class="comment-box pt-1 ps-3">
                                    <p class="commenttext">Great Work.. Keep it going..</p>
                            </div>
                        </div>
                    </div> -->
                    
                    
                    
                    





                </div>
                <div class="col-md-3" id="fixedCard">
                    <div class="card shadow mt-3">
                        <div class="userimagecontainer text-center py-3">
                            <img src="{% static '/images/userimage.jpg'%}" alt="Signup Image" class="userimage">
                        </div>
                        <div class="text-center py-1">
                            {% if user_details.full_name %}
                                <span class="welcometext text-muted">Welcome, </span><strong>{{ user_details.full_name }}</strong>
                            {% endif %}
                        </div>
                        <div class="text-center text-muted" id="userId" data-user-role="{% if user_details.roletype_id %}{{ user_details.roletype_id }}{% endif %}">
                            {% if user_details.user_role %}
                            <p class="my-0 mailtext">{{user_details.user_role}}</p>
                            {% endif %}
                        </div>                        
                        <div class="icon-container text-center py-2">
                            <i class="fa-brands fa-facebook fa-lg px-1"></i>
                            <i class="fab fa-instagram-square fa-lg  px-1"></i>
                            <i class="fab fa-twitter-square fa-lg px-1"></i>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

      

{% endblock %}
