body{
    background-color: #f5f6fa;
}

.left-menu-bar{
    height: 88vh;
    padding-left: 46px;
    position: sticky;
    top: 4rem;
    margin-top: 4rem;
}

.select-user-card{
    background-color: #e6f1ff;
    padding: 3rem !important;
}

.session_item_flex{
    gap: .5rem;
}


.session-item-flex{
    cursor: pointer;
    border-bottom: 1px solid #D9D9D9; 
    padding: 8px 10px;
}

.active-session{
    background: #c5dcfd;
    color: #2666ee;
}

.session-item-card{
    max-height: 192px;
    overflow-y: auto;
}

.session-item-text{
    font-size: .9rem;
}


/* Loader style */

.loader{
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.userimage{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

.chat-card{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  }

.chat-username{
    min-width: 165px;
  }


  @media (min-width: 992px) {
    #fixedCard {
      position: fixed;
      top: 83px;
      right: 0;
    }
  }
  
.comment-card{
    border: 3px solid #f7f3f3;
    border-radius: 6px;
    background-color:#e6f1ff;
  }

.commentby{
    font-size: 11px;
    color: #5778a3;
}
.comment-box{

}

.commenttext{
    font-size: 13px;

}

.msg-alert-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.chat-loader{
    border: 10px solid #f3f3f3; 
    border-top: 10px solid #3498db;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    animation: spin 1s linear infinite;

  }

  .message-text{
    color: #00000096;
    line-height: 1.5rem;
}

.alert-msg{
    background: #f9e8eb;
    color: #be2641;
    border-radius: 4px;
}

#chat-container{
    max-height: 500px;
    overflow-y: auto;
    min-height: 250px;
}

.chat-alert-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.335);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
